* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: black;
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
  width: 90%;
}

/* start header  */
header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  z-index: 1;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* start header_menu  */
header .container ul {
  display: flex;
  list-style: none;
}
header .container li {
  margin: 0 25px;
}
header .container a {
  text-decoration: none;
  font-weight: bold;
}
header .container ul a {
  font-size: 15px;
  cursor: pointer;
}
header .container span {
  display: inline-block;
}
header .container li:hover span {
  color: #f55f8d;
  transition: 0.5s;
  animation: upToDown 1s;
}
header .container li:hover i {
  color: #f55f8d;
  transition: 0.5s;
}
/* end header_menu  */
/* start header_button  */
header button {
  font-size: 15px;
  padding: 20px 35px;
  color: white;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
}
header button:hover {
  background-position: right center;
}
/* end header_button  */
/* end header  */

/* start carousel  */
.carousel {
  background-image: url(./image_samar/pic2.png);
  padding-top: 180px;
  background-size: 100%;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* start carousel_left */
/* start carousel_title */
.carousel_left .carousel_title p {
  font-size: 22px;
  color: #f55f8d;
  font-weight: bold;
  margin-bottom: 20px;
}
.carousel_left .carousel_title h2 {
  font-size: 70px;
  margin-bottom: 20px;
}
/* start carousel_content */
.carousel_left {
  width: 60%;
}
.carousel_left .carousel_content p {
  font-size: 18px;
  color: #636363;
  margin-bottom: 20px;
}
.carousel_left .carousel_content li {
  font-size: 20px;
  color: #636363;
  list-style: none;
}
.carousel_left .carousel_content li i {
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  margin-right: 10px;
  color: white;
  margin-bottom: 20px;
}
/* start carousel_button */
.carousel_left button {
  font-size: 15px;
  padding: 20px 35px;
  color: white;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border: 1px solid transparent;
  border-radius: 30px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.carousel_left button:hover {
  background-position: right center;
}
/* end carousel_left */
/* start carousel_right  */
.carousel_right {
  width: 40%;
  margin-left: 50px;
}

/* end carousel_right  */
/* end carousel  */

/* start service  */
.service {
  background-image: url(./image_samar/bg2.png);
  padding-top: 120px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service .container {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* start service_title  */
.service_title p {
  font-size: 22px;
  color: #f55f8d;
  font-weight: bold;
  margin-bottom: 20px;
}
.service_title h2 {
  font-size: 70px;
  margin-bottom: 40px;
}
/* end service_title  */
/* start service_content */
.service_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.service_item {
  height: 420px;
  border-radius: 10px;
  padding: 30px 45px;
  background-color: white;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.service_item img {
  width: 220px;
}
.service_item h3 {
  font-size: 25px;
  margin: 15px 0;
}
.service_item p {
  font-size: 18px;
  color: #636363;
}
/* end service_content */
.service_item:hover {
  transform: translateY(-20px);
  transition: 0.5s;
}
/* end service  */

/* start aboutUs  */
.aboutUs {
  background-image: url(./image_samar/bg15.png);
  padding-top: 120px;
  background-size: 100%;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUs .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* start aboutUs_left  */
.aboutUs_left {
  width: 50%;
  position: absolute;
  left: -17%;
}
.aboutUs_left img {
  width: 120%;
  border-radius: 0 100px 100px 0;
}
/* end aboutUs_left  */
/* start aboutUs_right*/
/* start aboutUs_title */
.aboutUs_right {
  width: 50%;
  margin-left: 600px;
}
.aboutUs_right .aboutUs_title p {
  font-size: 22px;
  color: #f55f8d;
  font-weight: bold;
  margin-bottom: 20px;
}
.aboutUs_right .aboutUs_title h2 {
  font-size: 70px;
  margin-bottom: 20px;
}
/* start aboutUs_content */
.aboutUs_right .aboutUs_content p {
  font-size: 17px;
  color: #636363;
  margin-bottom: 20px;
}
.aboutUs_right .aboutUs_content li {
  font-size: 17px;
  color: #636363;
  list-style: none;
}
.aboutUs_right .aboutUs_content li i {
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  color: #f55f8d;
  margin-bottom: 15px;
  border: 2px solid #f55f8d;
}
/* start aboutUs_button */
.aboutUs_right button {
  font-size: 15px;
  padding: 20px 35px;
  color: white;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border: 1px solid transparent;
  border-radius: 30px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.aboutUs_right button:hover {
  background-position: right center;
}
/* end aboutUs_right */
/* end aboutUs  */

/* start number  */
.number {
  background-image: url(./image_samar/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px 0;
}
.number .container {
  display: flex;
  justify-content: space-around;
}
.number .number_item {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* start icon  */
.number_item .number_icon {
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  margin-bottom: 15px;
}
.number_item .number_icon i {
  font-size: 45px;
  color: white;
}
/* start text  */
.number_item p:first-of-type {
  font-size: 65px;
  font-weight: bold;
  color: #f55f8d;
}
.number_item span {
  font-size: 65px;
  font-weight: bold;
  color: #f55f8d;
  margin-right: 15px;
}
.number_item p:last-of-type {
  font-size: 18px;
}
/* end number  */

/* start feature */
.feature {
  background-image: url(./image_samar/bg2.png);
  padding-top: 120px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* start feature_left */

/* start feature_title */
.feature_left .feature_title p {
  font-size: 22px;
  color: #f55f8d;
  font-weight: bold;
  margin-bottom: 20px;
}
.feature_left .feature_title h2 {
  font-size: 70px;
  margin-bottom: 20px;
}
/* start feature_content */
.feature_left .feature_content i {
  font-size: 80px;
  color: #f55f8d;
  transition: 0.5s;
}
.feature_left .feature_content h3 {
  font-size: 25px;
  margin-bottom: 10px;
  transition: 0.7s;
}
.feature_left .feature_content p {
  font-size: 16px;
  color: #636363;
  transition: 0.8s;
}
/* chỉnh padding của feature_list */
.feature_content .feature_list-1 {
  padding: 0 50px 30px 0;
}
.feature_content .feature_list-2 {
  padding: 0 0 30px 50px;
}
.feature_content .feature_list-3 {
  padding: 0 50px 30px 0;
}
.feature_list .feature_item {
  padding: 20px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  transition: 0.2s;
}
.feature_item .feature_both {
  display: flex;
}
.feature_both .feature_text {
  padding-left: 20px;
}
/* chỉnh hover  */
.feature_left .feature_item:hover {
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.feature_left .feature_item:hover i {
  color: white;
}
.feature_left .feature_item:hover h3 {
  color: white;
}
.feature_left .feature_item:hover p {
  color: white;
}
/* end feature_left */
/* start feature_right  */
.feature_right img {
  width: 110%;
  animation: move2 5s infinite;
}
/* end feature_right  */
/* end feature */

/* start portfolio  */
.portfolio {
  background-image: url(./image_samar/bg17.png);
  padding-top: 120px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .container {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* start portfolio_title  */
.portfolio_title p {
  font-size: 22px;
  color: #f55f8d;
  font-weight: bold;
  margin-bottom: 20px;
}
.portfolio_title h2 {
  font-size: 70px;
  margin-bottom: 20px;
}
/* end portfolio_title  */
/* start portfolio_content  */
/* start grid  */
.portfolio_content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
.portfolio_content .portfolio_item-1 {
  grid-column: 1 / span 2;
}
.portfolio_content .portfolio_item-5 {
  grid-column: 1 / span 2;
}
.portfolio_content .portfolio_item-6 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}
/* start overplay  */
.portfolio_item {
  position: relative;
  overflow: hidden;
}
.portfolio_item img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.portfolio_item .portfolio_overplay {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(18, 20, 20, 0.4);
}
/* chỉnh icon  */
.portfolio_overplay .portfolio_icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.7s;
}
.portfolio_overplay .portfolio_icon i {
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
}
/* chỉnh text  */
.portfolio_overplay .portfolio_text {
  position: absolute;
  left: 30px;
  bottom: 10px;
  text-align: left;
  transition: 0.7s;
}
.portfolio_overplay .portfolio_text p {
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.portfolio_overplay .portfolio_text span {
  font-size: 17px;
  color: white;
  opacity: 0.7;
}
.portfolio_overplay .portfolio_icon a {
  font-size: 17px;
}
/* chỉnh hover  */
.portfolio_item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: 0.75s;
}

.portfolio_item:hover::before {
  left: 125%;
}

.portfolio_overplay:hover .portfolio_icon {
  top: 20px;
  right: 20px;
}
.portfolio_overplay:hover .portfolio_text {
  bottom: 30px;
}
.portfolio_item .portfolio_overplay:hover {
  opacity: 1;
}
/* end portfolio_content  */
/* end portfolio  */

/* start plan  */
.plan {
  background-image: url(./image_samar/bg16.png);
  padding-top: 120px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan .container {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* start plan_title  */
.plan_title p {
  font-size: 22px;
  color: #f55f8d;
  font-weight: bold;
  margin-bottom: 20px;
}
.plan_title h2 {
  font-size: 70px;
  margin-bottom: 40px;
}
/* end plan_title  */
/* start plan_content */
.plan_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.plan_content .plan_item {
  height: 650px;
  border-radius: 10px;
  padding: 30px 45px;
  background-color: white;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border: 1px solid transparent;
  position: relative;
}
.plan_item img {
  width: 125px;
}
.plan_item h3 {
  font-size: 32px;
  margin: 15px 0;
}
.plan_item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: bold;
}
.plan_item p {
  font-size: 18px;
  font-weight: bold;
}
.plan_item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan_item li {
  list-style: none;
  font-size: 18px;
  padding: 5px 0;
}
.plan_item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  margin-right: 15px;
}
.plan_item button {
  font-size: 15px;
  padding: 20px 35px;
  color: white;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: 1s;
  position: absolute;
  right: 110px;
}
.plan_item .plan_border {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
/* end plan_content */
/* chỉnh hover  */
.plan_item button:hover {
  background-position: right center;
}
.plan_item:hover .plan_border {
  opacity: 1;
  transition: 1s;
}
/* end plan  */

/* start testimonial  */
.testimonial {
  text-align: center;
  background-image: url(./image_samar/bg17.png);
  padding-top: 120px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
/* start title  */
.testimonial .title p {
  font-size: 22px;
  color: #f55f8d;
  font-weight: bold;
  margin-bottom: 20px;
}
.testimonial .title h2 {
  font-size: 70px;
  margin-bottom: 40px;
}
/* end title  */
/* start testimonial__content  */
.testimonial__content {
  min-height: 300px;
}
.testimonial__thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial__thumbs .testimonial__pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}
.testimonial__thumbs::after,
.testimonial__thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}
.testimonial__thumbs::before {
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial__thumbs::after {
  right: 0;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial__pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}
.swiper-slide-thumb-active .testimonial__pic .shape-bx {
  opacity: 1;
}
.testimonial__pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(./image_samar/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.testimonial__pic::after,
.testimonial__pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial__pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}
.testimonial__pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}
.swiper-slide-thumb-active .testimonial__pic::after,
.swiper-slide-thumb-active .testimonial__pic::before {
  opacity: 1;
}
.testimonial__comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}
.testimonial__comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial__thumbs .testimonial__pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
  padding: 0 0 40px;
}
.testimonial__text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}
.swiper-pagination-bullet-active {
  background: #f55f8d;
}
.testimonial__text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.testimonial__name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}
.testimonial__position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}
/* end testimonial__content  */
/* end testimonial  */

/* start blog  */
.blog {
  background-image: url(./image_samar/bg16.png);
  padding-top: 120px;
  padding-bottom: 50px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog .container {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* start blog_title  */
.blog_title p {
  font-size: 22px;
  color: #f55f8d;
  font-weight: bold;
  margin-bottom: 20px;
}
.blog_title h2 {
  font-size: 70px;
  margin-bottom: 40px;
}
/* end blog_title  */
/* start owl-carousel */
.owl-carousel .blog_item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 10px;
}
/* start blog_header  */
.owl-carousel .blog_header {
  position: relative;
}
.owl-carousel .blog_header img {
  width: 100%;
  border-radius: 10px;
}
.owl-carousel .blog_header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  position: absolute;
  left: 15px;
  bottom: -15px;
}
/* start blog_body  */
.owl-carousel .blog_body {
  margin: 25px 15px 60px 15px;
}
.owl-carousel .blog_body h3 {
  font-size: 25px;
}
.owl-carousel .blog_body p {
  font-size: 16px;
  color: #636363;
}
/* start blog_footer */
.owl-carousel .blog_footer {
  display: flex;
  align-items: center;
  padding: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.blog_footer p {
  margin-right: 20px;
  font-size: 15px;
  color: #636363;
}
.blog_footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
.blog_footer p:first-of-type span {
  color: #f55f8d;
}
.blog_footer p:last-of-type span {
  color: #636363;
}
/* end owl-carousel */
/* end blog  */

/* start footer  */
footer {
  background-image: url(./image_samar/bg4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-color: #0e1b1f;
}
footer::before {
  content: "";
  background-image: url(./image_samar/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer img {
  position: absolute;
  top: 0;
  left: 0;
}
/* start footer_subscribe  */
.footer_subscribe {
  padding: 50px 60px;
  background-image: url(./image_samar/pattern3.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  position: relative;
}
.footer_subscribe .footer_text h3 {
  font-size: 28px;
}
/* form  */
.footer_text {
  width: 50%;
}
.footer_form {
  width: 50%;
}
.footer_subscribe .footer_form form {
  display: flex;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  height: 100%;
}
.footer_form input {
  flex: 1 1 auto;
  font-size: 15px;
  padding: 20px 20px;
  border-radius: 10px 0 0 10px;
  border-color: transparent;
}
.footer_form button {
  padding: 20px 35px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
.footer_form button i {
  font-size: 20px;
  color: white;
}
.footer_form input:hover {
  border: 1px solid #f55f8d;
  transition: 0.5s;
}
.footer_form button:hover {
  background-position: right center;
}
.footer_form button:hover i {
  animation: toLeftFromRight 0.5s forwards;
}
/* end footer_subscribe  */
/* start footer_contact  */
.footer_contact {
  display: flex;
  padding: 70px 0;
}
.footer_contact .footer_item {
  width: 25%;
}
.footer_contact .footer_item li {
  display: flex;
  list-style: none;
}
/* item 1 */
.footer_item-1 i {
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer_item-1 p {
  color: white;
  font-size: 15px;
}
.footer_item-1 img {
  margin-bottom: 15px;
}
/* item 2 */
.footer_item-2 h3 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: white;
  position: relative;
}
.footer_item-2 h3::before {
  width: 15px;
}
.footer_item-2 h3::after {
  width: 45px;
  left: 20px;
}
.footer_item-2 h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer_item-2 h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer_item-2 li {
  margin: 20px 0;
}
.footer_item-2 i {
  color: #636363;
  font-size: 16px;
  margin-right: 10px;
  transition: 0.5s;
}
.footer_item-2 a {
  text-decoration: none;
  color: #636363;
  font-size: 16px;
}
/* chỉnh hover  */
.footer_item-2 li:hover i {
  color: white;
  transition: 0.3s;
}
.footer_item-2 li:hover a {
  color: white;
  transition: 0.3s;
}
/* end footer_contact  */
/* start footer_copyright  */
.footer_copyright {
  background-color: #1f343b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  position: relative;
}
.footer_copyright p {
  color: white;
  font-size: 14px;
  margin-left: 70px;
}
.footer_copyright span {
  color: #f55f8d;
}
.footer_copyright ul {
  display: flex;
  position: absolute;
  top: 10px;
  right: 70px;
}
.footer_copyright li {
  list-style: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.footer_copyright i {
  color: white;
}
.footer_copyright li:hover {
  background: #f55f8d;
  transition: 0.5s;
}
/* end footer_copyright  */
/* end footer  */

/* start back to top  */
.back_to_top {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: #f55f8d;
  position: fixed;
  right: 15px;
  bottom: 15px;
  box-shadow: -4px 4px 24px -10px #f55f8d;
}
.back_to_top i {
  font-size: 18px;
  color: white;
  text-align: center;
  line-height: 50px;
}
/* start animation  */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
